@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
  }
    
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-family: 'Bebas Neue', cursive;
  }
  
  
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
